body {
    background-image: url("boat.jfif"); 
  background-color: #cccccc; 
  height: 500px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
   }
   ul {
    list-style-type: none;
    margin: 40px;
    float: right;
    font-family: 'Architects Daughter', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Parisienne', cursive;
font-family: 'Poiret One', cursive;
  }
 a:hover{
     color:rgba(50, 50, 51, 0.863);
     font-weight: bold;
     
 }
  
  li a {
    text-decoration: none;
    display: block;
    color: #817e7e;
    width: 60px;
    font-size: 25px;
    padding: 14px;
  }
.human{
    color:aliceblue;
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
    padding-left: 50px;
    font-size: 30px;
}

.dream{
    color:aliceblue;
    
    font-family: 'Open Sans', sans-serif;
    padding-left: 50px;
    padding-top: 165px;
    font-size: 130px;
    line-height: 0.71;
}

.dream_it{
    color:rgba(240, 248, 255, 0.788);
    padding-top: 10px;
    padding-left: 50px;
    font-size: 27px;
}

.subscript{
    font-family: 'Open Sans', sans-serif;

    color:aliceblue;
    padding: 50px;
    padding-top: 100px;
    font-size: 27px;
    line-height: 1.5;
    width: 25%;
    float: right;
    background-color: rgba(0, 0, 0, 0.452);
}
